body {
  margin: 0;
}

/*
  Inline: allow other ellements beside on the same line
    Padding, margin, width dont work as expected
  Block:take up one whole line in the browser window
    Padding, margin dont work as expected
  Inline-Block: allow other elements beside on the same line(link in)
    Padding,margin, width work as expected (like block)
*/

h1 {
  background-color: red;
  /* Start at top and go clockwise: top,right,bottom,left*/
  padding: 1em; 2em 3em 0.5em;
  margin: 0 1em; /* top/bottow left/right */
  border: 5px dotted #000;
  border-radius: 10px;
  display: inline-block;
}

a {
  background-color: yellow;
  display: block;
}

nav {
  background-color: hotpink;
  text-align: center;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav li {
  display: inline;
}

nav a {
  display: inline-block;
  padding: 0.5em 0.75em;
  background-color: magenta;
  color: white;
  text-decoration: none;
}
